<div data-role="view" data-title="CATParents" data-layout="main" style="" data-init="InicializaCATParents" data-reload="true">
    <div style="background-color:#b2b2b2; height:70px; vertical-align:middle; width:100%; display:flex; justify-content:space-between;">
        <div style="text-align:left; width:50%;">
            &nbsp;
            <img src="" width="188px" style="cursor: pointer;" onclick="IrAMenuPrincipal()" />
            <!--<a style=" font-family:Arial; color: White; font-weight:bold; font-size:20px;">SOS Madisa</a>-->
        </div>
        <div style="text-align:right; width:50%; vertical-align:middle; height:80px;">
            <table style="height:79px;" align="right">
                <tr>
                    <td>
                        <a style=" font-family:Arial; color: White; font-weight:bold; font-size:20px;"><label id="lblUserNameResultados"></label></a>
                    </td>
                    <td>
                        <a style=" font-family:Arial; color: White; font-weight:bold; font-size:20px;">&nbsp;|&nbsp;</a>
                    </td>
                    <td>
                        <a href="javascript:CerrarSesionResultados();" style=" font-family:Arial; color: White; font-weight:bold; font-size:15px;">Cerrar Sesión</a>
                    </td>
                </tr>
            </table>
            <!--<a data-role="button" data-click="abrirMenuUsuario" style="background-color:transparent; border-width:0px; margin:0px;"><img id="imgBtnRegresar" src="../Recursos/Imagenes/Botones/btnRegresar2.png" /></a>-->
        </div>
    </div>
    <div style="background-color:#0061ae; height:4px; vertical-align:middle; width:100%; display:flex; justify-content:space-between;">
    </div>
    <div style="background-color:#e4051f; height:4px; vertical-align:middle; width:100%; display:flex; justify-content:space-between;">
    </div>
    <div style=" height:768px; position:absolute; left:0px; background-color:#0061ae; z-index:2; text-align:left; width:198px;">
        <img id="btnMenuRegresarResultados" onclick="regresarResultados()" style="z-index:1; cursor:pointer;" onmouseover="this.src='../Recursos/Imagenes/Botones/BtnMenuRegresar_Selected.png'"
             src="../Recursos/Imagenes/Botones/BtnMenuRegresar.png" onmouseout="this.src='../Recursos/Imagenes/Botones/BtnMenuRegresar.png'" height="74px" width="220px" />
        <br />
    </div>
    <div style="position:absolute; height:768px; z-index:10; width:90%; left:250px; text-align:center;">
        <table align="left" width="88%" style="border-collapse:collapse;">
            <tr>
                <td width="100%" align="left" valign="middle">
                    <br />
                    <table width="85%">
                        <tr>
                            <td width="55%">
                                <label id="lblparent" style="font-weight:bold; font-family:Arial; font-size:24px; color:#0061ae;">
                                    <a style="color:#e4051f;">P</a>arent:
                                </label>
                                <input type="text" id="txtparent" class="roundedTextBox" style="width:150px; :Black; font-size:20px;" />
                            </td>
                            <td width="20%">
                                <img id="btnbuscaparent" onclick="cargaParents()" style="z-index:1; cursor:pointer;" onmouseover="this.src='../Recursos/Imagenes/Botones/BtnBuscar_Selected.png'"
                                     src="../Recursos/Imagenes/Botones/BtnBuscar.png" onmouseout="this.src='../Recursos/Imagenes/Botones/BtnBuscar.png'" height="30px" width="100px" />
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="25%">
                    <br />

                </td>
            </tr>
            <tr>
                <td width="90%" align="left" colspan="3">
                    <hr style=" border-style: solid; border-color:#b2b2b2;" />
                </td>
            </tr>
            <tr>
                <td width="90%" align="left" colspan="3">
                    <div id="gvparents">
                    </div>
                    <br />
                    <br />
                </td>
            </tr>
            <tr>
                <br />
                <br />
                <td width="100%" align="left" valign="middle">
                    <label id="lblTitle" style="font-weight:bold; font-family:Arial; font-size:24px; color:#0061ae;">
                        <a style="color:#e4051f;">A</a>gregar Parent
                    </label>
                    <hr />
                </td>
            </tr>
            <tr>
                <td width="100%" align="left" valign="middle">
                    <br />
                    <table width="85%">
                        <tr>
                            <td width="30%">
                                <label id="lblTablaadd" style="font-weight:bold; font-family:Arial; font-size:24px; color:#0061ae;">
                                    <a style="color:#e4051f;">N</a>umero de Lista:
                                </label>
                                <input type="text" id="txttablaadd" class="roundedTextBox" style="width:150px; :Black; font-size:20px;" />
                            </td>
                            <td width="30%">
                                <label id="lblparentadd" style="font-weight:bold; font-family:Arial; font-size:24px; color:#0061ae;">
                                    <a style="color:#e4051f;">P</a>arent:
                                </label>
                                <input type="text" id="txtparentadd" class="roundedTextBox" style="width:150px; :Black; font-size:20px;" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="100%" align="right">
                    <img id="btnAddparent" onclick="Addparent()" style="z-index:1; cursor:pointer;" onmouseover="this.src='../Recursos/Imagenes/Botones/BtnAdd_Selected.png'"
                         src="../Recursos/Imagenes/Botones/BtnAdd.png" onmouseout="this.src='../Recursos/Imagenes/Botones/BtnAdd.png'" height="30px" width="100px" />
                </td>
            </tr>
        </table>
    </div>
</div>

<style>
    .roundedTextBox {
        border-radius: 8px;
        font-size: 24px;
    }

    .k-i-calendar {
        height: 10px;
        margin: 0 3px;
    }

    .breakWord120 {
        word-break: break-all !important;
        word-wrap: break-word !important;
    }

    #grid {
        width: 490px;
    }

    .k-grid tbody tr {
        height: 38px;
    }

    .k-grid td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>

<script>
    function InicializaCATParents() {

        cargaParents();

    }
</script>

<script>
    function Addparent() {
        var Tabla = document.getElementById("txttablaadd").value;
        var Noparent = document.getElementById("txtparentadd").value;

        if (Noparent == "" || Tabla == "" ) {
            mostrarAlertaCatparent("Error", "No deben ir datos en blanco.");
        } else {
            var dsparentexistente = CallStoredObj("selparents", { tabla : Tabla, parent: Noparent  });
            if (dsparentexistente.length > 0) {
                mostrarAlertaCatparent("Error", "El Registro ya existe.");
            }
            else {
                CallStoredObj("Insparent", { tabla : Tabla ,parent: Noparent });
                mostrarAlertaCatparent("Exito", "Registro Agregado.");
                document.getElementById("txtparentadd").value = '';
                cargaParents();
            }

        }

    }
</script>

<script>
    function mostrarAlertaCatparent(tipoAlerta, mensaje) {
        var venAlerta = $("#ventanaAlertaLogin").data("kendoWindow");

        //        venAlerta.wrapper.addClass('transparentStyle');

        venAlerta.title(false);
        //        $winContentSpan = venAlerta.wrapper.find('.k-window-content');
        //        $winContentSpan.addClass('transparentStyle');

        if (tipoAlerta == "error") {
            document.getElementById("imgIconoAlerta").src = "../Recursos/Imagenes/Iconos/AlertaIconoError.png";
        }

        document.getElementById("lblMensajeAlerta").innerHTML = mensaje;

        venAlerta.center().open();
    }
</script>

<script>
    function cerrarAlertaLogin() {
        var venAlerta = $("#ventanaAlertaLogin").data("kendoWindow");
        venAlerta.close();
    }
</script>

<script>
    function DeleteParent(e) {
        e.preventDefault();

        var gridpayments = $("#gvparents").data("kendoGrid");

        var dataItem = gridpayments.dataItem($(e.currentTarget).closest("tr"));

        var Delparent = dataItem.ECTE
        var Deltabla = dataItem.ETBNO

        CallStoredObj("Delparent", { tabla: Deltabla, parent: Delparent });

        mostrarAlertaCatparent("Exito", "Parent Eliminado.");

        cargaParents();
    }
</script>

<script>
    function cargaParents() {

        var Bparent = document.getElementById("txtparent").value;
        //var Bpaymentvalor = document.getElementById("txtvalorpayment").value;

        dsparentsE = CallStoredObj("selparents", { parent: Bparent});

        var gridLog = $("#gvparents").kendoGrid({
            //toolbar: ["excel"],
            resizable: true,
            //excel: {
            //    fileName: "Kendo UI Grid Export.xlsx",
            //    proxyURL: "https://demos.telerik.com/kendo-ui/service/export",
            //    filterable: true
            //},

            dataSource: {
                data: dsparentsE
            },
            pageable: false,
            height: 150,
            maxHeight: 550,
            filterable: {
                extra: false,
                operators: {
                    string: {
                        startswith: "Empieza con",
                        contains: "Contiene",
                        eq: "Igual a",
                        neq: "No igual a"
                    }
                }
            },
            sortable: true,
            columns: [
                { field: "ETBNO", title: "Tabla", width: "70px" },
                { field: "EPACC", title: "PACC", width: "70px" },
                { field: "ECTE", title: "Cte. Parent", width: "70px" },
                { field: "ECUPR", title: "CUPR", width: "70px" },
                { template: "<img src='../Recursos/Imagenes/Botones/BtnDelSucursal.png' id='imgBtnDelParent_${uid}'  style='cursor: pointer;' onclick=\"DeleteParent(event)\" height='30px' width='85px'/>", title: "", width: "30px" }
            ]

        }).data("kendoGrid");

    }
</script>

<script>
    function refrescaGridParents() {
        $("#gvparents").empty();
        try {
            $("#gvparents").data("kendoGrid").destroy();
        }
        catch (err) {

        }
        cargaParents();
    }
</script>

<script>
    function IrAMenuPrincipal() {
        app.navigate("../Views/login/login.html");
    }
</script>

<script>
    function regresarResultados() {
        app.navigate("../Views/Administrador/MenuEcommerce.html");
    }
</script>

<script>
    function CerrarSesionResultados() {
        app.navigate("../Views/Login/Login.html");
    }
</script>